<div class="cf">
	<div class="fl-ns w-25-ns mb3 mb0-ns pv2 pr3">
		<h3 class="f5">Locations</h3>
		<ul class="list pa0 lh-copy f5">
			<li>Redbridge</li>
			<li>Woodford</li>
			<li>South Woodford</li>
			<li></li>
		</ul>

	</div>

	<div class="fl-ns w-25-ns mb3 mb0-ns pv2 pr3">
		<h3 class="f5">Contact</h3>
		<ul class="list pa0 lh-copy f5">
			<li><a href="mailto:{{ site.email }}" class="link white hover-silver">{{ site.email }}</a></li>
			<li>{{ site.phone1 }}</li>
			<li>{{ site.phone2 }}</li>
			<li></li>
		</ul>
	</div>
</div>

<p class="mt5 white-50 tr">&copy; 2017 {{ site.title }}. All rights reserved.</p>
