<header class="tc relative bg-near-white">
	<div class="cover relative" style="background-image: url('./images/hero.jpg'); height: 0; padding-top: 50%;"></div>

	<div class="pa3 pa0-ns absolute-ns mw7 header-content">
		<h1 class="f2 f1-ns fw8 lh-solid ttu ma0">{{ site.title }}</h1>
		<h2 class="f2 f1-ns fw8 lh-solid ttu ma0 silver">{{ site.description }}</h2>
	</div>

	<div class="ph3 pa3-ns absolute-ns header-phone">
		<span class="f4 f5-ns ttu">{{ site.phone1 }} – {{ site.phone2 }}</span>
	</div>

	<div class="ph3 pb3 pa3-ns absolute-ns header-email">
		<a href="mailto:{{ site.email }}" class="f4 f5-ns ttu link near-black hover-silver">{{ site.email }}</a>
	</div>

</header>
